@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container bg-light">
    <div class="col-md-12 text-center">
        <button type="button" class="button-user-patient"><i class="fa fa-wheelchair" aria-hidden="true"></i><a class="nav-link text-dark" asp-area="" asp-controller="Patient" asp-action="Create">I am a patient</a></button>
        <button type="button" class="button-user-doctor"><i class="fa fa-user-md" aria-hidden="true"></i><a class="nav-link text-dark" asp-area="" asp-controller="Doctor" asp-action="Register">I am a doctor</a></button>
    </div>
</div>


