@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container bg-light">
    <div class="col-md-12 text-center">
        <a class="nav-link text-dark" asp-area="" asp-controller="Patient" asp-action="Create"><button type="button" class="button-user-patient" style="font-size : 300%"><i class="fa fa-wheelchair" aria-hidden="true" font-size: 300%></i> Patient</button></a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Doctor" asp-action="Register"><button type="button" class="button-user-doctor" style="font-size : 300%"><i class="fa fa-user-md" aria-hidden="true" font-size: 300%></i> Doctor</button></a>
    </div>
</div>


