@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<a class="nav-link text-dark" asp-area="" asp-controller="PatientController" asp-action="Register">I am a patient</a>
<a class="nav-link text-dark" asp-area="" asp-controller="DoctorController" asp-action="Register">I am a doctor</a>
